@import 'modules/breakpoints';

* {
	margin: 0;
	padding: 0;
}

$black: #000;
$white: #fff;

body,
html {
	background-color: $black;
	color: $white;
	height: 100%;
	width: 100%;
}

.wrap {
	height: inherit;
	margin: 0 auto;
	width: 90%;

	@media (min-width: $m-desktop) {
		width: 80%;
	}

	@media (min-width: $tablet) {
		background: url('../images/profile-pic-compressor.png') center right no-repeat;
		background-size: contain;
	}

	.content {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		height: inherit;
		justify-content: center;
		width: 45%;

		@media (min-width: $desktop) and (max-width: $xs-desktop) {
			width: 50%;
		}

		@media (min-width: $s-desktop) and (max-width: $m-desktop) {
			width: 55%;
		}

		.meza-logo {
			height: 137px;
			margin: 0 auto 30px;
			width: 550px;

			@media (min-width: $desktop) and (max-width: $xs-desktop) {
				height: 110px;
				width: 440px;
			}

			@media (min-width: $s-desktop) and (max-width: $l-desktop) {
				height: 178px;
				margin: 0 auto 50px;
				width: 715px;
			}

			@media (min-width: $l-desktop) {
				height: 213px;
				margin: 0 auto 70px;
				width: 858px;
			}
		}

		.sm-icons {
			display: flex;
			justify-content: center;
		}

		.social-icon {
			margin: 0 20px;

			@media (min-width: $s-desktop) {
				margin: 0 30px;
			}
		}

		.twitter {
			height: 30px;
			width: 36px;

			@media (min-width: $s-desktop) {
				height: 45px;
				width: 54px;
			}
		}

		.fb,
		.instagram {
			height: 30px;
			width: 30px;

			@media (min-width: $s-desktop) {
				height: 45px;
				width: 45px;
			}
		}

		.youtube {
			height: 30px;
			width: 42px;

			@media (min-width: $s-desktop) {
				height: 45px;
				width: 63px;
			}
		}
	}
}
