* {
  margin: 0;
  padding: 0; }

body,
html {
  background-color: #000;
  color: #fff;
  height: 100%;
  width: 100%; }

.wrap {
  height: inherit;
  margin: 0 auto;
  width: 90%; }
  @media (min-width: 1920px) {
    .wrap {
      width: 80%; } }
  @media (min-width: 640px) {
    .wrap {
      background: url("../images/profile-pic-compressor.png") center right no-repeat;
      background-size: contain; } }
  .wrap .content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    height: inherit;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 45%; }
    @media (min-width: 1024px) and (max-width: 1280px) {
      .wrap .content {
        width: 50%; } }
    @media (min-width: 1600px) and (max-width: 1920px) {
      .wrap .content {
        width: 55%; } }
    .wrap .content .meza-logo {
      height: 137px;
      margin: 0 auto 30px;
      width: 550px; }
      @media (min-width: 1024px) and (max-width: 1280px) {
        .wrap .content .meza-logo {
          height: 110px;
          width: 440px; } }
      @media (min-width: 1600px) and (max-width: 2200px) {
        .wrap .content .meza-logo {
          height: 178px;
          margin: 0 auto 50px;
          width: 715px; } }
      @media (min-width: 2200px) {
        .wrap .content .meza-logo {
          height: 213px;
          margin: 0 auto 70px;
          width: 858px; } }
    .wrap .content .sm-icons {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .wrap .content .social-icon {
      margin: 0 20px; }
      @media (min-width: 1600px) {
        .wrap .content .social-icon {
          margin: 0 30px; } }
    .wrap .content .twitter {
      height: 30px;
      width: 36px; }
      @media (min-width: 1600px) {
        .wrap .content .twitter {
          height: 45px;
          width: 54px; } }
    .wrap .content .fb,
    .wrap .content .instagram {
      height: 30px;
      width: 30px; }
      @media (min-width: 1600px) {
        .wrap .content .fb,
        .wrap .content .instagram {
          height: 45px;
          width: 45px; } }
    .wrap .content .youtube {
      height: 30px;
      width: 42px; }
      @media (min-width: 1600px) {
        .wrap .content .youtube {
          height: 45px;
          width: 63px; } }
